{% extends "base.html" %}

{% block content %}

<br /><p class="welcome">Fill in the following form to request a password reset. Check your email in a few minutes and you should have a message from Sunlight Foundation
with your new password, after which you can log in and if you want, <a href="{% url change_password %}">change your password</a>.</p>
<div class="form-container">
<form method="post" action="{% url reset_password %}">
<fieldset>
<legend>Reset Password</legend>
<table>
{{form.as_table}}
</table>
<br />
<input type="submit" value="reset password" />
</form>

</fieldset>

</div>

{% endblock content %}
