{% extends "base.html" %}
{%load humanize%}


{% block content %}
<h2 class="red_header">House Defense Earmarks (FY08)</h2>
<iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;time=&amp;date=&amp;ttype=&amp;q=http:%2F%2Fmedia.sunlightprojects.org%2Fearmarkwatch%2Fkml%2Fhouse_defense_earmarks_08.kml&amp;ie=UTF8&amp;om=1&amp;source=embed&amp;ll=30.610756,-78.931649&amp;spn=61.221511,157.863299&amp;output=embed&amp;s=AARTsJqmM-QDWYb5U351QvMCyZuJhMwTrw"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;time=&amp;date=&amp;ttype=&amp;q=http:%2F%2Fmedia.sunlightprojects.org%2Fearmarkwatch%2Fkml%2Fhouse_defense_earmarks_08.kml&amp;ie=UTF8&amp;om=1&amp;source=embed&amp;ll=30.610756,-78.931649&amp;spn=61.221511,157.863299" style="color:#0000FF;text-align:left">View Larger Map</a></small>
 Tip of the hat to <a href="http://radar.oreilly.com/archives/2007/11/track-us-congress-earmarks-google-earth.html">Brady Forrest</a></p>
<br /><br />
Also available for viewing within <a href="http://media.sunlightprojects.org/earmarkwatch/kml/house_defense_earmarks_08.kml">Google Earth</a>. [download <a href="http://earth.google.com/">Google Earth</a>]



{% endblock content %}

